.write-message-scaffold{
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 930px) {
    .write-message-scaffold{
        // flex-direction: column;
        // align-items: center;
    }

    body{
        overflow-y: auto;
    }
}

@media only screen and (max-width: 720px) {
    .write-message-scaffold{
        flex-direction: column;
        align-items: center;
    }
}